.s-advantages-inner,
.s-advantages {
    padding: 48px 0;
    @media (max-width: $breakpoint992) {
        padding: 20px 0;
    }
    .advantages {
        display: flex;
        flex-wrap: wrap;
        row-gap: 24px;
        justify-content: space-between;
        overflow-x: visible;
        @media (max-width: $breakpoint992) {
            flex-wrap: nowrap;
            overflow-x: scroll;
            padding: 20px;
        }
        &__item {
            background: #F1F3FF;
            box-shadow: 0px 4px 10px rgba(0, 49, 83, 0.25);
            border-radius: 20px;
            width: 22%;
            padding: 24px;
            border: 2px solid #F1F3FF;
            transition: border 0.25s;
            min-width: none;
            margin-right: 0px;
            @media (max-width: 900px) {
                margin-right: 20px;
                min-width: 277px;
            }
            &:hover {
                border: 2px solid #FF9EAF;
            }
        }
        &__image {
            width: 72px;
            height: 72px;
            background: #FE8DA1;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 16px;
            img {
                width: fit-content;
            }
        }
        &__title {
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #003153;
            min-height: 40px;
        }
        &__description {
            margin-top: 16px;
            font-weight: 400;
            line-height: 20px;
            font-size: 14px;
            color: #587183;
        }
    }
}

.s-advantages-inner {
    position: relative;
    &::before {
        content: url(../img/before-inner-middle.svg);
        width: fit-content;
        height: fit-content;
        position: absolute;
        top: 300px;
        left: 0;
        z-index: -1;
        @media (max-width: $breakpoint992) {
            content: none;
        }
    }
    &::after {
        content: url(../img/after-inner-middle.svg);
        width: fit-content;
        height: fit-content;
        position: absolute;
        top: 300px;
        right: 0;
        z-index: -1;
        @media (max-width: $breakpoint992) {
            content: none;
        }
    }
    .advantages__item {
        min-height: 225px;
    }
}