@font-face {
    font-family: 'Commissioner';
    src: url('../fonts/Commissioner-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Commissioner';
    src: url('../fonts/Commissioner-SemiBold.ttf') format('ttf');
}

@font-face {
    font-family: 'Commissioner';
    src: url('../fonts/Commissioner-Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'Commissioner';
    src: url('../fonts/Commissioner-Black.ttf') format('ttf');
}