@import "_font_size";
.s-guest {
    padding: 48px 0;
    p {
        font-weight: 400;
        @include font(16, 24);
        line-height: 110%;
        color: #003153;
        text-align: center;
        margin-bottom: 48px;
    }
    .guest {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        @media (max-width: $breakpoint768) {
            flex-direction: column;
        }
        &__image {
            width: 40%;
            margin: 0;
            @media (max-width: $breakpoint768) {
                width: 70%;
                margin: 0 auto 16px;
            }
            @media (max-width: $breakpoint480) {
                width: 100%;
            }
            &-image {
                width: 100%;
            }
        }
        &__text {
            span {
                font-weight: 400;
                @include font(16, 24);
                line-height: 110%;
                color: #003153;
                text-align: left;
                margin-bottom: 16px;
                display: block;
            }
            width: 58%;
            @media (max-width: $breakpoint768) {
                width: 100%;
            }
            p {
                font-weight: 400;
                @include font(16, 18);
                line-height: 110%;
                color: #587183;
                position: relative;
                padding-left: 30px;
                margin-bottom: 14px;
                text-align: left;
                &:last-child {
                    margin-bottom: 0;
                }
                &::before {
                    content: url(../img/markerLi.svg);
                    position: absolute;
                    width: fit-content;
                    height: fit-content;
                    top: -5%;
                    left: 0;
                }
                @media (max-width: $breakpoint768) {
                    margin-bottom: 8px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}