@import "_font_size";
$toggle-background-color-on: #93A8FE;
$toggle-background-color-off: #a0a4b1;
$toggle-control-color: white;
$toggle-width: 60px;
$toggle-height: 30px;
$toggle-gutter: 5px;
$toggle-radius: 50%;
$toggle-control-speed: .15s;
$toggle-control-ease: ease-in;
// These are our computed variables
// change at your own risk.
$toggle-radius: 25px;
$toggle-control-size: $toggle-height - ($toggle-gutter * 2);
.s-selection {
    padding: 48px 0;
    @media (max-width: $breakpoint992) {
        padding: 24px 0;
    }
    .selections {
        .btn-white {
            display: none;
            align-items: center;
            width: 100%;
            justify-content: center;
            margin-bottom: 16px;
            position: relative;
            &::before {
                content: url('../img/filter.svg');
                position: absolute;
                width: fit-content;
                height: fit-content;
                right: 30%;
                top: 25%;
            }
            @media (max-width: $breakpoint768) {
                display: flex;
            }
            img {
                margin-left: 32px;
            }
        }
        .btn-white--close {
            &::before {
                content: url('../img/filter-close.svg');
                position: absolute;
                width: fit-content;
                height: fit-content;
                right: 30%;
                top: 25%;
            }
        }
        #rect.is-visible {
            display: flex;
            animation: fadeInFromNone 0.5s ease-in-out;
            animation-fill-mode: forwards;
            #button {
                &::before {
                    content: url('../img/filter-close.svg');
                    position: absolute;
                    width: fit-content;
                    height: fit-content;
                    right: 40%;
                    top: 0;
                }
            }
        }
        #rect.is-hidden {
            animation: fadeOutFromBlock 0.5s ease-in-out;
            #button {
                &::before {
                    content: url('../img/filter.svg');
                    position: absolute;
                    width: fit-content;
                    height: fit-content;
                    right: 40%;
                    top: 0;
                }
            }
        }
        @keyframes fadeInFromNone {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        @keyframes fadeOutFromBlock {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }
        &__filter {
            background: #FFFFFF;
            box-shadow: 0px 4px 16px rgba(103, 103, 103, 0.16);
            border-radius: 16px;
            padding: 24px 18px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 24px;
            @media (max-width: $breakpoint768) {
                display: none;
            }
            .custom-select-wrapper {
                width: 19%;
                @media (max-width: $breakpoint992) {
                    width: 49%;
                }
                @media (max-width: $breakpoint768) {
                    width: 100%;
                }
                .custom-select-trigger {
                    padding: 0 49px 0 25px;
                }
            }
        }
        &__item {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 8px;
            align-items: center;
            flex-wrap: wrap;
            .btn-white {
                &::before {
                    content: none;
                }
            }
        }
        &__pansionat {
            display: block;
            @media (max-width: $breakpoint768) {
                display: none;
            }
        }
        &__go,
        &__drop {
            display: none;
            width: 100%;
            margin-bottom: 16px;
            @media (max-width: $breakpoint768) {
                display: block;
            }
            &::before {
                content: none;
            }
        }
        &__on {
            display: flex;
            align-items: center;
            @media (max-width: $breakpoint768) {
                display: none;
            }
            .toggle-control {
                display: block;
                position: relative;
                padding-left: $toggle-width;
                cursor: pointer;
                font-size: 22px;
                height: 30px;
                user-select: none;
                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;
                }
                input:checked~.control {
                    background-color: $toggle-background-color-on;
                    &:after {
                        left: $toggle-width - $toggle-control-size - $toggle-gutter;
                    }
                }
                .control {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: $toggle-height;
                    width: $toggle-width;
                    border-radius: $toggle-radius;
                    background-color: $toggle-background-color-off;
                    transition: background-color $toggle-control-speed $toggle-control-ease;
                    box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.08);
                    &:after {
                        content: "";
                        position: absolute;
                        left: $toggle-gutter;
                        top: $toggle-gutter;
                        width: $toggle-control-size;
                        height: $toggle-control-size;
                        border-radius: $toggle-radius;
                        background: $toggle-control-color;
                        transition: left $toggle-control-speed $toggle-control-ease;
                    }
                }
            }
            p {
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                /* identical to box height */
                /* ТЕКСТ ТЕМНО СИНИЙ */
                color: #003153;
                padding-left: 8px;
                text-decoration: underline;
            }
        }
    }
    .pansionat__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 16px;
        margin-top: 40px;
        .pansionat__item {
            background: #FFFFFF;
            box-shadow: 0px 4px 16px rgba(103, 103, 103, 0.16);
            border-radius: 16px;
            padding: 16px;
            width: 32%;
            @media (max-width: $breakpoint992) {
                width: 49%;
            }
            @media (max-width: 700px) {
                width: 100%;
            }
            p {
                font-weight: 600;
                @include font(11,
                14);
                line-height: 17px;
                text-decoration-line: underline;
                color: #587183;
            }
            .pansionat__image {
                &-big {
                    border-radius: 8px;
                    min-height: 160px;
                    img {
                        width: 100%;
                        -o-object-fit: cover;
                        background-size: cover !important;
                        background-position: center !important;
                    }
                }
                &-small {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-top: 16px;
                    margin-bottom: 27px;
                    img {
                        width: 100%;
                    }
                }
                &-preview {
                    width: 32%;
                    border-radius: 8px;
                    min-height: 69px;
                    background-size: cover !important;
                    background-position: center !important;
                    border-radius: 8px;
                    cursor: pointer;
                    img {
                        width: 100%;
                    }
                }
                &-link {
                    width: 32%;
                    border-radius: 8px;
                    background-size: cover !important;
                    background-position: center !important;
                    display: block;
                    position: relative;
                    &::before {
                        content: '+23';
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: linear-gradient(0deg, rgba(81, 185, 142, 0.7), rgba(81, 185, 142, 0.7));
                        width: 100%;
                        height: 100%;
                        border-radius: 8px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-weight: 500;
                        @include font(25,
                        32);
                        line-height: 39px;
                        color: #FFFFFF;
                    }
                    cursor: pointer;
                    img {
                        width: 100%;
                        border-radius: 8px;
                    }
                }
            }
            .pansionat__info {
                .pansionat__rating {
                    img {
                        margin-right: 6px;
                    }
                    display: flex;
                    align-items: center;
                }
                .pansionat__name {
                    font-weight: 700;
                    @include font(14,
                    18);
                    line-height: 22px;
                    color: #003153;
                    margin-top: 16px;
                }
                .pansionat__place {
                    display: flex;
                    align-items: center;
                    margin-top: 24px;
                    img {
                        margin-right: 8px;
                    }
                }
                .pansionat__some {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 48px;
                    &-item {
                        img {
                            width: 100%;
                        }
                    }
                }
                .btn-blue {
                    display: block;
                    width: 100%;
                    margin-top: 32px;
                    text-align: center;
                }
            }
        }
    }
}

.s-selection-inner {
    padding: 48px 0;
    @media (max-width: $breakpoint992) {
        padding: 24px 0;
    }
    .pansionat {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        &__gallery {
            width: 40%;
            @media (max-width: $breakpoint480) {
                width: 100%;
            }
            .gallery__pans {
                position: relative;
                .owl-nav {
                    .owl-prev {
                        position: absolute;
                        top: 40%;
                        left: 0;
                    }
                    .owl-next {
                        position: absolute;
                        top: 40%;
                        right: 0;
                    }
                }
                .owl-stage-outer {
                    border-radius: 8px;
                }
                .item {
                    max-width: 480px;
                    width: 100%;
                    border-radius: 8px;
                }
            }
            .hash__container {
                display: flex;
                flex-wrap: nowrap;
                overflow-x: scroll;
                margin-top: 24px;
                padding-bottom: 10px;
                &::-webkit-scrollbar-track {
                    padding: 2px 0;
                    background-color: #D4FCEB;
                    border-radius: 10px;
                    margin-top: 10px;
                }
                &::-webkit-scrollbar {
                    width: 2px;
                    height: 5px;
                }
                &::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
                    background-color: #9dffd4;
                }
                .url {
                    min-width: 105px;
                    margin-right: 20px;
                    display: block;
                    border-radius: 8px;
                    img {
                        width: 100%;
                    }
                }
            }
        }
        &__inforamtion {
            width: 55%;
            @media (max-width: $breakpoint480) {
                width: 100%;
            }
            .block__title {
                text-align: left;
            }
            .pansionat__rating {
                max-width: 350px;
                img {
                    margin-right: 6px;
                }
                display: flex;
                align-items: center;
            }
            .pansionat__name {
                font-weight: 700;
                @include font(14,
                18);
                line-height: 22px;
                color: #003153;
                margin-top: 16px;
                max-width: 350px;
            }
            .pansionat__place {
                display: flex;
                align-items: center;
                margin-top: 24px;
                max-width: 350px;
                img {
                    margin-right: 8px;
                }
            }
            .pansionat__some {
                display: flex;
                justify-content: space-between;
                margin-top: 24px;
                max-width: 350px;
                &-item {
                    img {
                        width: 100%;
                    }
                }
            }
            .pansionat__price {
                p {
                    font-weight: 700;
                    @include font(19,
                    24);
                    line-height: 29px;
                    color: #003153;
                    margin-top: 24px;
                }
            }
            .btn-blue {
                margin-top: 24px;
                width: auto;
                @media (max-width: $breakpoint480) {
                    width: 100%;
                }
            }
        }
    }
    .owl-theme .owl-nav [class*=owl-]:hover {
        background: transparent !important;
        color: #FFF;
        text-decoration: none;
    }
    .block__title {
        h2 {
            margin-top: 24px;
            margin-bottom: 24px;
        }
    }
}