<div class="acc-list">
                        <div class="item acc">
                            <div class="acc__header">
                                <div class="vacancy__name">
                                    <div class="vacancy__name-top">
                                        <div class="vacancy__name-text">Медицинская сестра физиотерапевтического кабинета</div>
                                        <div class="vacancy__name-price">от 30 000 до 50 000 руб.</div>
                                    </div>
                                    <div class="vacancy__name-bottom">Новосибирск - Академгородок — Полная занятость, сменный график
                                        <div class="vacancy__name-price">от 30 000 до 50 000 руб.</div>
                                    </div>
                                </div>
                                <span class="caret"></span>
                            </div>
                            <div class="acc__description">
                                <div class="vacancy__text">
                                    <p class="mini__title ">Обязанности:</p>
                                    <ul>
                                        <li>Выполнять назначения в соответствии с методикой, во время проведения физиотерапевтической процедуры находиться в лечебном кабинете;</li>
                                        <li>Проводить физиотерапевтические процедуры (ультразвук, электрофорез, магний, УВЧ); лечение зрения;</li>
                                        <li>Наблюдать за состояние больного, а в случае ухудшения – прекратить процедуру и вызвать врача-физиотерапевта или лечащего врача;</li>
                                        <li>Регулировать посещение кабинета больными;</li>
                                        <li>Знать правила по технике безопасности, основные правила оказания неотложной медицинской помощи больным и в случае необходимости оказать ее до прихода врача;</li>
                                        <li>Контролировать работу приборов и аппаратов;</li>
                                        <li>Следить за сохранностью состояния медицинского оборудования и хозяйственного инвентаря кабинета, поддерживать санитарно-гигиеническое состояние кабинета;</li>
                                    </ul>
                                    <p class="mini__title ">Требования:</p>
                                    <ul>
                                        <li>Выполнять назначения в соответствии с методикой, во время проведения физиотерапевтической процедуры находиться в лечебном кабинете;</li>
                                        <li>Проводить физиотерапевтические процедуры (ультразвук, электрофорез, магний, УВЧ); лечение зрения;</li>
                                        <li>Наблюдать за состояние больного, а в случае ухудшения – прекратить процедуру и вызвать врача-физиотерапевта или лечащего врача;</li>
                                    </ul>
                                    <p class="mini__title ">Условия:</p>
                                    <ul>
                                        <li>Выполнять назначения в соответствии с методикой, во время проведения физиотерапевтической процедуры находиться в лечебном кабинете;</li>
                                        <li>Проводить физиотерапевтические процедуры (ультразвук, электрофорез, магний, УВЧ); лечение зрения;</li>
                                        <li>Наблюдать за состояние больного, а в случае ухудшения – прекратить процедуру и вызвать врача-физиотерапевта или лечащего врача;</li>
                                    </ul>
                                    <button data-fancybox href="#vacancy">Отправить резюме</button>
                                </div>
                            </div>
                        </div>
                        <div class="item acc">
                            <div class="acc__header">
                                <div class="vacancy__name">
                                    <div class="vacancy__name-top">
                                        <div class="vacancy__name-text">Медицинская сестра физиотерапевтического кабинета</div>
                                        <div class="vacancy__name-price">от 30 000 до 50 000 руб.</div>
                                    </div>
                                    <div class="vacancy__name-bottom">Новосибирск - Академгородок — Полная занятость, сменный график
                                        <div class="vacancy__name-price">от 30 000 до 50 000 руб.</div>
                                    </div>
                                </div>
                                <span class="caret"></span></div>
                            <div class="acc__description">
                                <div class="vacancy__text">
                                    <p class="mini__title ">Обязанности:</p>
                                    <ul>
                                        <li>Выполнять назначения в соответствии с методикой, во время проведения физиотерапевтической процедуры находиться в лечебном кабинете;</li>
                                        <li>Проводить физиотерапевтические процедуры (ультразвук, электрофорез, магний, УВЧ); лечение зрения;</li>
                                        <li>Наблюдать за состояние больного, а в случае ухудшения – прекратить процедуру и вызвать врача-физиотерапевта или лечащего врача;</li>
                                        <li>Регулировать посещение кабинета больными;</li>
                                        <li>Знать правила по технике безопасности, основные правила оказания неотложной медицинской помощи больным и в случае необходимости оказать ее до прихода врача;</li>
                                        <li>Контролировать работу приборов и аппаратов;</li>
                                        <li>Следить за сохранностью состояния медицинского оборудования и хозяйственного инвентаря кабинета, поддерживать санитарно-гигиеническое состояние кабинета;</li>
                                    </ul>
                                    <p class="mini__title ">Требования:</p>
                                    <ul>
                                        <li>Выполнять назначения в соответствии с методикой, во время проведения физиотерапевтической процедуры находиться в лечебном кабинете;</li>
                                        <li>Проводить физиотерапевтические процедуры (ультразвук, электрофорез, магний, УВЧ); лечение зрения;</li>
                                        <li>Наблюдать за состояние больного, а в случае ухудшения – прекратить процедуру и вызвать врача-физиотерапевта или лечащего врача;</li>
                                    </ul>
                                    <p class="mini__title ">Условия:</p>
                                    <ul>
                                        <li>Выполнять назначения в соответствии с методикой, во время проведения физиотерапевтической процедуры находиться в лечебном кабинете;</li>
                                        <li>Проводить физиотерапевтические процедуры (ультразвук, электрофорез, магний, УВЧ); лечение зрения;</li>
                                        <li>Наблюдать за состояние больного, а в случае ухудшения – прекратить процедуру и вызвать врача-физиотерапевта или лечащего врача;</li>
                                    </ul>
                                    <button data-fancybox href="#vacancy">Отправить резюме</button>
                                </div>
                            </div>
                        </div>
                        <div class="item acc">
                            <div class="acc__header">
                                <div class="vacancy__name">
                                    <div class="vacancy__name-top">
                                        <div class="vacancy__name-text">Медицинская сестра физиотерапевтического кабинета</div>
                                        <div class="vacancy__name-price">от 30 000 до 50 000 руб.</div>
                                    </div>
                                    <div class="vacancy__name-bottom">Новосибирск - Академгородок — Полная занятость, сменный график
                                        <div class="vacancy__name-price">от 30 000 до 50 000 руб.</div>
                                    </div>
                                </div>
                                <span class="caret"></span></div>
                            <div class="acc__description">
                                <div class="vacancy__text">
                                    <p class="mini__title ">Обязанности:</p>
                                    <ul>
                                        <li>Выполнять назначения в соответствии с методикой, во время проведения физиотерапевтической процедуры находиться в лечебном кабинете;</li>
                                        <li>Проводить физиотерапевтические процедуры (ультразвук, электрофорез, магний, УВЧ); лечение зрения;</li>
                                        <li>Наблюдать за состояние больного, а в случае ухудшения – прекратить процедуру и вызвать врача-физиотерапевта или лечащего врача;</li>
                                        <li>Регулировать посещение кабинета больными;</li>
                                        <li>Знать правила по технике безопасности, основные правила оказания неотложной медицинской помощи больным и в случае необходимости оказать ее до прихода врача;</li>
                                        <li>Контролировать работу приборов и аппаратов;</li>
                                        <li>Следить за сохранностью состояния медицинского оборудования и хозяйственного инвентаря кабинета, поддерживать санитарно-гигиеническое состояние кабинета;</li>
                                    </ul>
                                    <p class="mini__title ">Требования:</p>
                                    <ul>
                                        <li>Выполнять назначения в соответствии с методикой, во время проведения физиотерапевтической процедуры находиться в лечебном кабинете;</li>
                                        <li>Проводить физиотерапевтические процедуры (ультразвук, электрофорез, магний, УВЧ); лечение зрения;</li>
                                        <li>Наблюдать за состояние больного, а в случае ухудшения – прекратить процедуру и вызвать врача-физиотерапевта или лечащего врача;</li>
                                    </ul>
                                    <p class="mini__title ">Условия:</p>
                                    <ul>
                                        <li>Выполнять назначения в соответствии с методикой, во время проведения физиотерапевтической процедуры находиться в лечебном кабинете;</li>
                                        <li>Проводить физиотерапевтические процедуры (ультразвук, электрофорез, магний, УВЧ); лечение зрения;</li>
                                        <li>Наблюдать за состояние больного, а в случае ухудшения – прекратить процедуру и вызвать врача-физиотерапевта или лечащего врача;</li>
                                    </ul>
                                    <button data-fancybox href="#vacancy">Отправить резюме</button>
                                </div>
                            </div>
                        </div>
                        <div class="item acc">
                            <div class="acc__header">
                                <div class="vacancy__name">
                                    <div class="vacancy__name-top">
                                        <div class="vacancy__name-text">Медицинская сестра физиотерапевтического кабинета</div>
                                        <div class="vacancy__name-price">от 30 000 до 50 000 руб.</div>
                                    </div>
                                    <div class="vacancy__name-bottom">Новосибирск - Академгородок — Полная занятость, сменный график
                                        <div class="vacancy__name-price">от 30 000 до 50 000 руб.</div>
                                    </div>

                                </div>
                                <span class="caret"></span></div>
                            <div class="acc__description">
                                <div class="vacancy__text">
                                    <p class="mini__title ">Обязанности:</p>
                                    <ul>
                                        <li>Выполнять назначения в соответствии с методикой, во время проведения физиотерапевтической процедуры находиться в лечебном кабинете;</li>
                                        <li>Проводить физиотерапевтические процедуры (ультразвук, электрофорез, магний, УВЧ); лечение зрения;</li>
                                        <li>Наблюдать за состояние больного, а в случае ухудшения – прекратить процедуру и вызвать врача-физиотерапевта или лечащего врача;</li>
                                        <li>Регулировать посещение кабинета больными;</li>
                                        <li>Знать правила по технике безопасности, основные правила оказания неотложной медицинской помощи больным и в случае необходимости оказать ее до прихода врача;</li>
                                        <li>Контролировать работу приборов и аппаратов;</li>
                                        <li>Следить за сохранностью состояния медицинского оборудования и хозяйственного инвентаря кабинета, поддерживать санитарно-гигиеническое состояние кабинета;</li>
                                    </ul>
                                    <p class="mini__title ">Требования:</p>
                                    <ul>
                                        <li>Выполнять назначения в соответствии с методикой, во время проведения физиотерапевтической процедуры находиться в лечебном кабинете;</li>
                                        <li>Проводить физиотерапевтические процедуры (ультразвук, электрофорез, магний, УВЧ); лечение зрения;</li>
                                        <li>Наблюдать за состояние больного, а в случае ухудшения – прекратить процедуру и вызвать врача-физиотерапевта или лечащего врача;</li>
                                    </ul>
                                    <p class="mini__title ">Условия:</p>
                                    <ul>
                                        <li>Выполнять назначения в соответствии с методикой, во время проведения физиотерапевтической процедуры находиться в лечебном кабинете;</li>
                                        <li>Проводить физиотерапевтические процедуры (ультразвук, электрофорез, магний, УВЧ); лечение зрения;</li>
                                        <li>Наблюдать за состояние больного, а в случае ухудшения – прекратить процедуру и вызвать врача-физиотерапевта или лечащего врача;</li>
                                    </ul>
                                    <button data-fancybox href="#vacancy">Отправить резюме</button>
                                </div>
                            </div>
                        </div>
                    </div>